@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: Nexa Script;
  src: url(font/NexaScript-Bold.woff);
}
body {
  margin: 0;
  font-family: "Poppins";
}

header {
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
}
header .navbar-brand {
  width: 25%;
}
header svg {
  margin-left: 10%;
  width: auto;
  height: 100%;
}
header li {
  display: flex;
  color: #DB433B;
}
header i {
  margin: auto;
}
header .nav-link, header .nav-link.active {
  color: #DB433B !important;
}
header .collapse {
  width: 50%;
  display: flex;
  justify-content: center;
}
header .navbar-nav > li:first-child {
  padding-left: 20%;
}
header .nav-item a {
  font-size: clamp(0.4375rem, -0.1875rem + 2vw, 0.9375rem);
}
header .navbar-nav {
  margin-left: 50%;
}
header .dropdown-menu {
  --bs-dropdown-link-hover-bg: #DB433B !important;
  --bs-dropdown-link-active-bg: #DB433B !important;
  --bs-dropdown-link-hover-color: white !important;
}

#landing {
  margin-top: 65px;
  margin-bottom: 17px;
}
#landing .carousel-item:first-child {
  background: url(images/home/carousel-cake.png) no-repeat center;
  height: 90vh;
  background-size: cover;
}
#landing .carousel-item:nth-child(2) {
  background: url(images/home/carousel-donut.png) no-repeat center;
  height: 90vh;
  background-size: cover;
}
#landing .carousel-item:nth-child(3) {
  background: url(images/home/carousel-pie.png) no-repeat center;
  height: 90vh;
  background-size: cover;
}
#landing .carousel-control-next {
  background-color: #DB433B !important;
  opacity: 1 !important;
  height: 60px !important;
  width: 60px !important;
  border-radius: 50%;
  margin: auto;
  margin-right: 20px;
}
#landing .carousel-control-next:hover {
  background-color: #59092F !important;
  border: 4px solid #DB433B !important;
}
#landing .carousel-control-prev {
  background-color: #DB433B !important;
  opacity: 1 !important;
  height: 60px !important;
  width: 60px !important;
  border-radius: 50%;
  margin: auto;
  margin-left: 20px;
}
#landing .carousel-control-prev:hover {
  background-color: #59092F !important;
  border: 4px solid #DB433B !important;
}
#landing .d-grid {
  position: absolute;
  bottom: 10%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
#landing .d-grid button {
  background: white;
  color: #DB433B;
  font-size: clamp(0.75rem, -0.1875rem + 2vw, 1.375rem);
  border: 4px solid #DB433B !important;
  border-radius: 50px;
  padding: 15px 50px;
  min-width: 200px;
  margin: auto !important;
}
#landing .d-grid button:hover {
  color: white;
  background-color: #59092F;
  border: 4px solid #DB433B !important;
}

#quote {
  background: url(images/home/bg-quote.png) no-repeat center;
  height: 100vh;
  background-size: cover;
  display: flex;
}
#quote .container {
  margin: auto;
  width: 50%;
  height: -moz-fit-content;
  height: fit-content;
}
#quote h3 {
  font-family: "Nexa Script";
  font-style: normal;
  font-weight: 400;
  font-size: clamp(0.9375rem, -0.2344rem + 3.75vw, 1.875rem);
  text-align: justify;
  color: #59092F;
}

#cake, #pie, #doughnut {
  background: url(images/home/bg-recipe.png) no-repeat center;
  background-size: cover;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  width: 100%;
  margin: auto;
  flex-direction: column;
}
#cake .container, #pie .container, #doughnut .container {
  display: flex;
  height: -moz-fit-content;
  height: fit-content;
  margin: 10% auto 10% auto;
  justify-content: space-around;
  gap: 10px;
  align-items: stretch;
}
#cake .container .card, #pie .container .card, #doughnut .container .card {
  width: 18rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}
#cake .container .card h5, #pie .container .card h5, #doughnut .container .card h5 {
  height: -moz-fit-content;
  height: fit-content;
  min-height: 60px;
  margin: auto;
  font-family: "Nexa Script";
  font-style: normal;
  font-weight: 400;
  font-size: clamp(0.75rem, -0.3125rem + 3vw, 1.375rem);
  text-align: center;
  color: #59092F;
}
#cake .container .card a, #pie .container .card a, #doughnut .container .card a {
  width: 100%;
  font-size: clamp(0.625rem, -0.3125rem + 3vw, 1.375rem);
  border: 2px solid #DB433B !important;
}
#cake .container .card a:hover, #pie .container .card a:hover, #doughnut .container .card a:hover {
  background-color: #59092F;
  border: 2px solid #DB433B !important;
}
#cake .container .card-body, #pie .container .card-body, #doughnut .container .card-body {
  padding: 16px;
  display: flex;
  flex-direction: column;
}
#cake h1, #pie h1, #doughnut h1 {
  font-family: "Nexa Script";
  font-style: normal;
  font-weight: 400;
  font-size: clamp(1.875rem, -1.25rem + 10vw, 4.375rem);
  text-align: center;
  color: #DB433B;
  margin-top: 10%;
}

#cake-recipe, #pie-recipe, #donut-recipe {
  padding-bottom: 10%;
}
#cake-recipe button, #pie-recipe button, #donut-recipe button {
  font-family: "Nexa Script";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #59092F;
}
#cake-recipe .banner-img, #pie-recipe .banner-img, #donut-recipe .banner-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#cake-recipe h1, #pie-recipe h1, #donut-recipe h1 {
  font-family: "Nexa Script";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #59092F;
  margin-top: -9%;
  margin-bottom: 5%;
}
#cake-recipe .rounded-pill, #pie-recipe .rounded-pill, #donut-recipe .rounded-pill {
  padding: 1% 3%;
  font-weight: bold;
  font-size: clamp(0.9375rem, -0.2031rem + 2.25vw, 1.0625rem);
  text-align: center;
  margin-bottom: 10px;
}
#cake-recipe ul > li, #pie-recipe ul > li, #donut-recipe ul > li {
  font-size: clamp(0.75rem, -0.1875rem + 2vw, 0.9375rem);
}

#cake-recipe {
  background: #EA9AB2;
}
#cake-recipe .rounded-pill {
  background: #EA9AB2 !important;
  color: #59092F !important;
}
#cake-recipe ul > li {
  background-color: rgb(255, 233, 246);
}
#cake-recipe .accordion {
  --bs-accordion-active-bg: #EFCFE3 !important;
}

#pie-recipe {
  background: #EAF2D7;
}
#pie-recipe .rounded-pill {
  background: #EAF2D7 !important;
  color: #59092F !important;
}
#pie-recipe ul > li {
  background-color: rgb(249, 249, 236);
}
#pie-recipe .accordion {
  --bs-accordion-active-bg: #e3f1c1 !important;
}

#donut-recipe {
  background: #B3DEE2;
}
#donut-recipe .rounded-pill {
  background: #B3DEE2 !important;
  color: #59092F !important;
}
#donut-recipe ul > li {
  background-color: rgb(230, 242, 245);
}
#donut-recipe .accordion {
  --bs-accordion-active-bg:#B3DEE2 !important;
}

.accordion {
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.1rem white !important;
}
.accordion .accordion-button:not(.collapsed)::after {
  background-color: #59092F;
  border: 4px solid #DB433B !important;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath  fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  background-position: center;
  --bs-accordion-btn-icon-width: 1.5rem;
}
.accordion .accordion-button.collapsed::after {
  background-color: #DB433B;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath  fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  background-position: center;
  --bs-accordion-btn-icon-width: 1.5rem;
}
.accordion .accordion-button:hover::after {
  background-color: #59092F;
}
.accordion .accordion-body {
  height: 1200px;
}
.accordion .accordion-body .row .col-4 .row:nth-child(3) ul {
  border-radius: 8px;
  height: 700px;
  padding: 0;
  overflow: auto;
}
.accordion .accordion-body .row .col-4 .row:nth-child(3) ul li {
  background-color: #EAF2D7;
  color: #59092F;
}
.accordion .accordion-body .row .col-8 {
  height: 1100px;
}
.accordion .accordion-body .row .col-8 ul {
  height: 540px;
  overflow: auto;
}
.accordion .accordion-body .row .col-8 p.instructions {
  text-align: justify;
  margin: 3%;
  color: #59092F;
  font-size: clamp(0.75rem, -0.1875rem + 2vw, 0.9375rem);
}

footer {
  background: #DB433B;
  color: white;
  text-align: center;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}
footer img {
  width: 40%;
  margin-top: 2%;
  margin-bottom: 3%;
}
footer .row {
  align-items: baseline !important;
}
footer .col {
  height: 100%;
}
footer li {
  margin: 0;
  list-style: none;
  margin-bottom: 20px;
  line-height: 0.8;
}
footer a {
  text-decoration: none;
  color: white;
  font-size: clamp(0.75rem, -0.1875rem + 2vw, 0.9375rem);
}
footer a:hover {
  color: #59092F;
}

.back-to-top {
  position: fixed;
  bottom: -40px;
  right: 40px;
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: #335dff;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  opacity: 0;
  transform: scale(0.3);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 9;
  transition: all 0.3s;
}

.back-to-top:focus {
  color: #fff;
}

.back-to-top.show {
  bottom: 40px;
  right: 40px;
  opacity: 1;
  transform: scale(1);
}

.back-to-top.show:hover {
  color: #fff;
  bottom: 30px;
  opacity: 1;
}

.arrow {
  background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHN0eWxlPi5zdDB7ZmlsbDojZmZmfTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTMxOS4xIDIxN2MyMC4yIDIwLjIgMTkuOSA1My4yLS42IDczLjdzLTUzLjUgMjAuOC03My43LjZsLTE5MC0xOTBjLTIwLjEtMjAuMi0xOS44LTUzLjIuNy03My43UzEwOSA2LjggMTI5LjEgMjdsMTkwIDE5MHoiLz48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMzE5LjEgMjkwLjVjMjAuMi0yMC4yIDE5LjktNTMuMi0uNi03My43cy01My41LTIwLjgtNzMuNy0uNmwtMTkwIDE5MGMtMjAuMiAyMC4yLTE5LjkgNTMuMi42IDczLjdzNTMuNSAyMC44IDczLjcuNmwxOTAtMTkweiIvPjwvc3ZnPg==);
  position: absolute;
  width: 12px;
  height: 12px;
  background-size: contain;
  transform: rotate(-90deg);
  top: 30%;
  left: 40%;
}

.arrow:nth-child(2) {
  top: 42%;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

@keyframes bounceAlpha {
  0% {
    opacity: 1;
    transform: rotate(-90deg) translateX(0px) scale(1);
  }
  25% {
    opacity: 0;
    transform: rotate(-90deg) translateX(10px) scale(0.9);
  }
  26% {
    opacity: 0;
    transform: rotate(-90deg) translateX(-10px) scale(0.9);
  }
  55% {
    opacity: 1;
    transform: rotate(-90deg) translateX(0px) scale(1);
  }
}
.back-to-top:hover .arrow {
  animation-name: bounceAlpha;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.back-to-top:hover .arrow:nth-child(2) {
  animation-name: bounceAlpha;
  animation-duration: 1.4s;
  animation-delay: 0.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@media only screen and (max-width: 575px) {
  .back-to-top {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
  .back-to-top.show {
    bottom: 10px;
    right: 10px;
  }
  .back-to-top.show:hover {
    bottom: 10px;
  }
  .arrow {
    top: 27%;
    left: 37%;
  }
}
@media screen and (max-width: 1400px) {
  #landing .carousel-item {
    height: 70vh !important;
  }
  #quote {
    height: 80vh;
  }
}
@media screen and (max-width: 1200px) {
  #landing .carousel-item {
    height: 50vh !important;
  }
  #landing .carousel-control-next {
    transform: scale(0.8);
  }
  #landing .carousel-control-prev {
    transform: scale(0.8);
  }
  #quote {
    height: 60vh;
  }
}
@media screen and (max-width: 1000px) {
  .accordion-body {
    height: -moz-fit-content !important;
    height: fit-content !important;
  }
  .accordion-body .row {
    flex-direction: column;
  }
  .accordion-body .row .col-4 {
    width: 100%;
  }
  .accordion-body .row .col-4 .row {
    flex-direction: row;
  }
  .accordion-body .row .col-4 ul {
    height: 400px !important;
  }
  .accordion-body .row .col-8 {
    height: -moz-fit-content !important;
    height: fit-content !important;
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  #landing .carousel-item {
    height: 50vh !important;
  }
  #landing .carousel-control-next {
    transform: scale(0.6);
  }
  #landing .carousel-control-prev {
    transform: scale(0.6);
  }
  #quote {
    height: 50vh;
  }
}
@media screen and (max-width: 450px) {
  #landing .carousel-item {
    height: 40vh !important;
  }
  #quote {
    height: 40vh;
  }
}/*# sourceMappingURL=styles.css.map */