@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$rose: #E27396;
$amarantPink: #EA9AB2;
$mimiPink: #EFCFE3;
$beige: #EAF2D7;
$lightBlue: #B3DEE2;
$red: #DB433B;
$dark: #59092F;

@font-face {
    font-family: Nexa Script;
    src: url(font/NexaScript-Bold.woff);
}

@mixin hover-effect{
    background-color: $dark;
    border: 4px solid $red !important;
}

@mixin control-style{
    background-color: $red !important;
    opacity: 1 !important;
    height: 60px !important;
    width: 60px !important;
    border-radius: 50%;
  
    margin: auto;

    &:hover{
        background-color: $dark !important;
        border: 4px solid $red !important;
    }
}

body{
    margin: 0;
    font-family: 'Poppins';
}

header{
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;

    .navbar-brand{
        width: 25%;
    }

    svg{
        margin-left: 10%;
        width: auto;
        height: 100%;
    }

    li{
        display: flex;
        color: $red;
    }

    i{
        margin: auto;
    }

    .nav-link, .nav-link.active{
        color: $red !important;
    }

    .collapse{
        width: 50%;
        display: flex;
        justify-content: center;
    }

    .navbar-nav > li:first-child{
        padding-left:20%;
    }

    .nav-item a{
        font-size: clamp(0.4375rem, -0.1875rem + 2vw, 0.9375rem);
    }

    .navbar-nav{
        margin-left: 50%;
    }

    .dropdown-menu{
        --bs-dropdown-link-hover-bg: #DB433B !important;
        --bs-dropdown-link-active-bg: #DB433B !important;
        --bs-dropdown-link-hover-color: white !important;
    }
}

#landing{
    margin-top: 65px;
    margin-bottom: 17px;

    .carousel-item:first-child{
        background: url(images/home/carousel-cake.png) no-repeat center;
        height: 90vh;
        background-size: cover;
    }

    .carousel-item:nth-child(2){
        background: url(images/home/carousel-donut.png) no-repeat center;
        height: 90vh;
        background-size: cover;
    }

    .carousel-item:nth-child(3){
        background: url(images/home/carousel-pie.png) no-repeat center;
        height: 90vh;
        background-size: cover;
    }

    .carousel-control-next{
        @include control-style;
        margin-right: 20px;
    }
    
    .carousel-control-prev{
        @include control-style;
        margin-left: 20px;
    }

    .d-grid{
        position: absolute;
        bottom: 10%;
        left: 50%;
        right: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        
        button{
            background: white;
            color: $red;
            font-size: clamp(0.75rem, -0.1875rem + 2vw, 1.375rem);
            border: 4px solid #DB433B !important;
            border-radius: 50px;
            padding: 15px 50px;
            min-width: 200px;
            margin: auto !important;

            &:hover{
                color: white;
                @include hover-effect;
            }
        }

    } 

}

#quote{
    background: url(images/home/bg-quote.png)  no-repeat center;
    height: 100vh;
    background-size: cover;
    display: flex;

    .container{
        margin: auto;
        width: 50%;
        height: fit-content;
    }

    h3{
        font-family: 'Nexa Script';
        font-style: normal;
        font-weight: 400;
        font-size: clamp(0.9375rem, -0.2344rem + 3.75vw, 1.875rem);
        text-align: justify;
        color: $dark;
    }
}

#cake, #pie, #doughnut{
    background: url(images/home/bg-recipe.png) no-repeat center;
    background-size: cover;
    height: fit-content;
    display: flex;
    width: 100%;
    margin: auto;
    flex-direction: column;

    .container{
        display: flex;
        height: fit-content;
        margin: 10% auto 10% auto;
        justify-content: space-around;
        gap: 10px;

        .card{
            width: 25%;
            height: fit-content;
            text-align: center;
            display: flex;
            flex-direction: column;

            h5{
                height: 60px;
                margin: auto;
                font-family: 'Nexa Script';
                font-style: normal;
                font-weight: 400;
                font-size: clamp(0.625rem, -0.3125rem + 3vw, 1.375rem);
                text-align: center;
                color: $dark;
            }

            a{
                width: 100%;
                font-size: clamp(0.625rem, -0.3125rem + 3vw, 1.375rem);
                border: 2px solid $red !important;

                &:hover{
                    background-color: $dark;
                    border: 2px solid $red !important;
                }

            }
        }

        .card-body{
            padding: 16px;
            display: flex;
            flex-direction: column;
        }


    }

    h1{
        font-family: 'Nexa Script';
        font-style: normal;
        font-weight: 400;
        font-size: clamp(1.875rem, -1.25rem + 10vw, 4.375rem);
        text-align: center;
        color: #DB433B;
        margin-top: 10%;
    }
}

#cake-recipe, #pie-recipe, #donut-recipe{
    padding-bottom: 10%;

    button{
        font-family: 'Nexa Script';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        color: $dark;
    }

    .banner-img{
        width: 100%;
        object-fit: cover;
    }

    h1{
        font-family: 'Nexa Script';
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 48px;
        text-align: center;
        color: #59092F;
        margin-top: -9%;
        margin-bottom: 5%;
    }

    
    .rounded-pill{
        padding: 1% 3%;
        font-weight: bold;
        font-size: clamp(0.5rem, -0.2031rem + 2.25vw, 1.0625rem);
    }

    ul > li{
        font-size: clamp(0.4375rem, -0.1875rem + 2vw, 0.9375rem);
    }
}

#cake-recipe{
    background: $amarantPink;

    .rounded-pill{
        background: $amarantPink !important;
        color: $dark !important;
    }


}

#pie-recipe{
    background: $beige;

    .rounded-pill{
        background: $beige !important;
        color: $dark !important;
    }
}

#donut-recipe{
    background: $lightBlue;

    .rounded-pill{
        background: $lightBlue !important;
        color: $dark !important;
    }
}


.accordion{
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.1rem white !important;


    @mixin accordion-button-effect{
        border-radius: 50%;
        width: 50px;
        height: 50px;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath  fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
        background-position: center;
        --bs-accordion-btn-icon-width: 1.5rem;
    }

    .accordion-button:not(.collapsed){
        color: $dark;
        &::after{
            @include hover-effect;
            @include accordion-button-effect;
            
        }
    }

    .accordion-button.collapsed::after{
        background-color: $red;
        @include accordion-button-effect;

    }

    .accordion-button:hover::after{
        background-color: $dark;

    }

}

#cake-recipe{
    .accordion{
        --bs-accordion-active-bg: #EFCFE3 !important;
    }
}

#pie-recipe{
    .accordion{
        --bs-accordion-active-bg: #e3f1c1 !important;
    }
}

footer{
    background: $red;
    color: white;
    text-align: center;
    margin: 0;

    p{
        margin: 0;
    }
}

@media  screen and (max-width:1400px) {
    #landing{
        .carousel-item{
            height: 70vh !important;  
        }
    }

    #quote{
        height: 80vh;
    }
}

@media  screen and (max-width:1200px) {
    #landing{
        .carousel-item{
            height: 50vh !important;
        }
        .carousel-control-next{
            transform: scale(0.8);
        }
        .carousel-control-prev{
            transform: scale(0.8);
        }
    
    }

    #quote{
        height: 60vh;
    }
}

@media  screen and (max-width:500px) {
    #landing{
        .carousel-item{
            height: 50vh !important;
        }
        .carousel-control-next{
            transform: scale(0.6);
        }
        .carousel-control-prev{
            transform: scale(0.6);
        }
    }

    #quote{
        height: 50vh;
    }
}

@media  screen and (max-width:450px) {
    #landing{
        .carousel-item{
            height: 40vh !important;
        }
    }

    #quote{
        height: 40vh;
    }

}