@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$rose: #E27396;
$amarantPink: #EA9AB2;
$mimiPink: #EFCFE3;
$beige: #EAF2D7;
$lightBlue: #B3DEE2;
$red: #DB433B;
$dark: #59092F;

@font-face {
    font-family: Nexa Script;
    src: url(font/NexaScript-Bold.woff);
}
  

body{
    margin: 0;
    font-family: 'Poppins';
}

header{
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;

    .navbar-brand{
        width: 25%;
    }

    svg{
        margin-left: 10%;
        width: auto;
        height: 100%;
    }

    li{
        display: flex;
        color: $red;
    }

    i{
        margin: auto;
    }

    .nav-link, .nav-link.active{
        color: $red !important;
    }

    .collapse{
        width: 50%;
        display: flex;
        justify-content: center;
    }

    .navbar-nav > li:first-child{
        padding-left:20%;
    }

    .nav-item a{
        font-size: clamp(0.4375rem, -0.1875rem + 2vw, 0.9375rem);
    }

    .navbar-nav{
        margin-left: 50%;
    }
}

#landing{
    margin-top: 5%;

    .carousel-item:first-child{
        background: url(images/home/carousel-cake.png) no-repeat center;
        height: 90vh;
        background-size: cover;
    }

    .carousel-item:nth-child(2){
        background: url(images/home/carousel-donut.png) no-repeat center;
        height: 90vh;
        background-size: cover;
    }

    .carousel-item:nth-child(3){
        background: url(images/home/carousel-pie.png) no-repeat center;
        height: 90vh;
        background-size: cover;
    }

    .d-grid{
        margin-top: 30%;

        button{
            background: white;
            color: $red;
            font-size: clamp(0.4375rem, -0.1875rem + 2vw, 0.9375rem);
        }

        button:hover{
            background: $red;
            color: white;
        }
    } 

}

#quote{
    background: url(images/home/bg-quote.png)  no-repeat center;
    height: 100vh;
    background-size: cover;
    display: flex;

    .container{
        margin: auto;
        width: 50%;
        height: fit-content;
    }

    h3{
        font-family: 'Nexa Script';
        font-style: normal;
        font-weight: 400;
        font-size: clamp(1.125rem, 0.1875rem + 3vw, 1.875rem);
        text-align: justify;
        color: $dark;
    }
}

#cake, #pie, #doughnut{
    background: url(images/home/bg-recipe.png) no-repeat center;
    background-size: cover;
    height: fit-content;
    display: flex;
    width: 100%;
    margin: auto;
    flex-direction: column;

    .container{
        display: flex;
        height: fit-content;
        margin: 10% auto 10% auto;
        justify-content: space-around;

        .card{
            width: 25%;
            height: fit-content;
            border: none;
            text-align: center;
            display: flex;
            flex-direction: column;

            h5{
                height: 60px;
                margin: auto;
                font-family: 'Nexa Script';
                font-style: normal;
                font-weight: 400;
                font-size: 22px;
                text-align: center;
                color: $dark;
            }

            a{
                width: 100%;
            }
        }

        .card-body{
            padding: 0;
        }


    }

    h1{
        font-family: 'Nexa Script';
        font-style: normal;
        font-weight: 400;
        font-size: clamp(1.875rem, -1.25rem + 10vw, 4.375rem);
        text-align: center;
        color: #DB433B;
        margin-top: 10%;
    }
}

#cake-recipe, #pie-recipe, #donut-recipe{
    padding-bottom: 10%;

    button{
        font-family: 'Nexa Script';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        color: $dark;
    }

    .banner-img{
        width: 100%;
        object-fit: cover;
    }

    h1{
        font-family: 'Nexa Script';
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 48px;
        text-align: center;
        color: #59092F;
        margin-top: -9%;
        margin-bottom: 5%;
    }
}

#cake-recipe{
    background: $amarantPink;
}

#pie-recipe{
    background: $beige;
}

#donut-recipe{
    background: $lightBlue;
}


footer{
    background: $red;
    color: white;
    text-align: center;
    margin: 0;

    p{
        margin: 0;
    }
}

@media  screen and (max-width:1400px) {
    #landing{
        .carousel-item{
            height: 80vh;
        }
    }
}

@media  screen and (max-width:800px) {
    #landing{
        .carousel-item{
            height: 60vh;
        }
    }
}

@media  screen and (max-width:500px) {
    #landing{
        .carousel-item{
            height: 50vh;
        }
    }
}

@media  screen and (max-width:450px) {
    #landing{
        .carousel-item{
            height: 40vh;
        }
    }

}